body {
    margin-top: 80px;
    padding: 0;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

h1 {
    font-size: 32px;
    margin-top: 10px;
}

h2 {
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 9px;
  color: #4D07DB;
} 

img {
  max-width: 100%;
  height: auto;
}

.nav {
	position: absolute;
	display: flex;
	height: 60px;
	top: 13px;
  left: 140px;
}

button {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }
  
  button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  button:focus {
    outline: 1px transparent;
  }

.loginButton {
    position:absolute;
    top:13px;
    right:100px;
    background-color: #fafbfc00;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #000000;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 15px;
  }
  
  .loginButton:hover {
    text-decoration:none;
    color: #9b82e1;
    background-color: #f3f4f600;
  }

  .signupButton {
    position:absolute;
    top:12px;
    right:10px;
    background-color: #fafbfc00;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: none;
    box-sizing: border-box;
    color: #000000;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 15px;
  }
  
  .signupButton:hover {
    background-color: #9b82e100;
    text-decoration: none;
    color: #9b82e1;
    transition-duration: 0.1s;
  }

  .navButton {
    background-color: #fafbfc00;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #000000;
    font-size: 17px;
    margin-right: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
  .navButton:hover {
    background-color: #f3f4f600;
    color: #9b82e1;
    text-decoration: none;
    transition-duration: 0.1s;
  }

  *::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  color: #4D07DB;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}
