body {
    margin-top: 80px;
    padding: 0;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding:10px;
    padding-bottom:60px; 
}

root {
  padding-bottom: 60px;
}

.container {
  width: 100%;
}

.burrito-text {
  position: absolute;
  top: 130px;
  left: 120px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
}

.burrito-button{
  font-size: 25px;
  padding: 17px 20px;
  border-radius: 14px;
}

.burrito-button:hover {
  color: #9b82e1;
  text-decoration: none;
  transition-duration: 0.1s;
}

h1 {
    font-size: 32px;
    margin-top: 10px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 30px;
  top: 9px;
  color: #4D07DB;
} 

img {
  max-width: 100%;
  height: auto;
}

.nav {
	position: absolute;
	display: flex;
	height: 60px;
	top: 16px;
  left: 150px;
}

button {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }
  
  button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  button:focus {
    outline: 1px transparent;
  }

.loginButton {
    position:absolute;
    top:16px;
    right:100px;
    background-color: #fafbfc00;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #000000;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 15px;
  }
  
  .loginButton:hover {
    text-decoration:none;
    color: #9b82e1;
    background-color: #f3f4f600;
  }

  .signupButton {
    position:absolute;
    top:12px;
    right:10px;
    background-color: #fafbfc00;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: none;
    box-sizing: border-box;
    color: #000000;
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-right: 15px;
  }
  
  .signupButton:hover {
    background-color: #9b82e100;
    text-decoration: none;
    color: #9b82e1;
    transition-duration: 0.1s;
  }

  .navButton {
    background-color: #fafbfc00;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #000000;
    font-size: 17px;
    margin-right: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
  .navButton:hover {
    background-color: #f3f4f600;
    color: #9b82e1;
    text-decoration: none;
    transition-duration: 0.1s;
  }

  *::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 27px;
  border-radius: 13px;
  background-clip: padding-box;
  color: #4e07dbb7;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;            
}

.footer-basic {
  background-color:#ffffff;
  color:#4b4c4d;
  width: 100%; 
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

#content-wrap {
  padding-bottom: 2.5rem;
}
